<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate alias mollitia, 
            minima veniam omnis et voluptatem aspernatur dolore. Ex officia molestias quasi placeat dolorum ipsam,
             nobis necessitatibus inventore consequuntur minima et deserunt asperiores voluptas adipisci impedit aut quae reiciendis.</p>
    </div>
</div>